#list{
    height: 200px;
    width: 200px;
    background-color: red;
    border: 2px solid black;
    text-align: left;
    margin: 5px;

}


#heading{
    height: 200px;
    width: 500px;
    background-color: pink;
    border: 2px solid black;
    text-align: left;
    margin: 10px;

}